@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


body {    
    background-color: #328dc3;
    color: #ffffff;
    font-family: 'Lucida Sans Unicode', sans-serif;

}

.main {
    width: 80%; 
    margin: 0 auto;
}

.main span {
    margin-right: 10px;
}

.main i {
    font-size: 1em;
}

.top {
    font-size: 24px;
    margin: 20px 0 20px 0;
    }


.ba-cities {
    background-color: #ffffff;
    list-style: none;    
    text-align: center;
    padding: 5px;
    
    font-size: 0px;  
}


.ba-cities li {
    display: inline-block;
    font-size: 20px;    
    box-sizing: border-box;
    border: 5px #ffffff solid;
    height: 120px;
    padding-top: 20px;     
}

.li1, .li9 {
    width: 50%;
}

.li2, .li3, .li4, .li5, .li6, .li7, .li8, .li10 {
    width: 25%;
}

.li11 {
    width: 100%;
}

.li1 {
    background-color: #3399cc;
}

.li2 {
    background-color: #33cccc;
}

.li3 {
    background-color: #996699;
}

.li4 {
    background-color: #c24747;
}

.li5 {
    background-color: #e2674a;
}

.li6 {
    background-color: #ffcc66;
}

.li7 {
    background-color:#99cc99;
}

.li8 {
    background-color:#669999;
}

.li9 {
    background-color: #cc6699;
}

.li10 {
    background-color: #339966;
}

.li11 {
    background-color: #666699;
}


li p {
    margin: 0;
    margin-top: 10px;
    color: #cbcbdb;
}


i {
    font-size: 1.5em;    
}

.comment {
    margin-top: 20px;
}

ul:hover li:not(:hover) {
    opacity:0.5;
  }




