/*reject bootstrap style*/

input {
  font-family: $mainFont !important;
  font-size: rem-calc(18px) !important;
  line-height: 1.15 !important;
  color: $dblueColor;
  margin: 0;
}

/* Style for placeholder text */
input::-webkit-input-placeholder {
  color: $greyColor;
  font-family: $mainFont;
}

input:-moz-placeholder {
  color: $greyColor;
  font-family: $mainFont;
}

textarea::-webkit-input-placeholder {
  color: $greyColor;
  font-family: $mainFont;
}

textarea:-moz-placeholder {
  color: $greyColor;
  font-family: $mainFont;
}

#email {
  text-transform: none;
}

.contact {
  width: 100%;
  margin: 0 auto;
  height: 700px;
  //position: relative;
  padding: 0;
  //background-color: khaki;

  #map {
    height: inherit;
    width: inherit;
  }

  &__container {
    position: relative;
    width: 100%;

    .adress {
      &__line {
        padding-top: 60px;
        border-bottom: solid 1px $dgreyColor;
        box-sizing: border-box;
        height: 2px;
        width: 115px;
        margin: 0 auto;
      }

      &__title {
        //height: 273px;
        padding-top: 30px;
        padding-bottom: 50px;
        text-align: center;

        h2 {
          font-size: rem-calc(44px);
          font-family: $boldFont;
          color: $dblueColor;
          padding: 0;
          margin: 0;
        }
      }

      &__list {
        padding-left: 55px;
        font-size: rem-calc(18px);
        font-family: $mainFont;
        color: $dblueColor;
      }

      &__list div {
        margin-bottom: 25px;
      }

      &__list div i {
        margin-right: 0.5rem;
        color: $purpleColor;
      }

      &__form {
        .formsub {
          &__label {
            display: none;
          }

          /*my style for input*/
          &__input {
            background: none;
            border: none;
            outline: none;
            width: 80%;
            color: $dblueColor;
            text-transform: capitalize;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: solid 1px $greyColor;
          }

          &__input:focus {
            border-bottom: solid 1px $dblueColor;
            //padding-left: 13px;
          }

          &__error {
            color: red;
            font-size: 10px;
            visibility: hidden;
          }

          &__input:invalid + &__error {
            visibility: visible;
          }

          &__submit {
            width: 80%;
          }

          &__btn--submit {
            @extend .base-btn;
            background: none;
            outline: none;
            cursor: pointer;
            color: $dblueColor;
            font-size: 14px;
            padding: 15px 40px;
          }

          &__btn--submit:focus {
            background-color: lime;
          }
        }
      }
    }
  }

  &__adress {
    position: absolute;
    width: 770px;
    height: 450px;
    background-color: $whiteBack;
    left: 215px;
    box-sizing: border-box;
    bottom: -150px;
    z-index: 100;
  }
}
