$whiteColor: #fff;
$darkColor: #000000;
$greyColor: #c9c9c0;
$whiteBack: #fff;
//$blackBack: #000000;
//$brownback: #333333;
$purpleBack: #7e5aff;
//$greyBack: #262626;
$blueBack: #55b7ff;
$lblueColor: #94bfea;
//$buttonBack: #5474fd;
//$yellowBack: #ffe92f;
$orangeColor: #ff6033;
$seaColor: #5585a2;
$purpleColor: #ac97fc;
$dblueColor: #2c4058;
$dgreyColor: #4b5562;
//$saladColor: #96b92c;
//$redIcon: #ff6363;

$mainFont: "GothamBook", sans-serif;
$boldFont: "GothamBold", sans-serif;
$secondFont: "Open Sans", sans-serif;
$italicFont: italic;
$baseFontSize: 16px;

$firstLineHeight: 34px;
$secondLineHeight: 30px;
$titleFontw: 800;
$textFontw: 400;
