$whiteColor: #fff;
$darkColor: #000000;
$whiteBack: #fff;
$blackBack: #000000;
$purpleBack: #b07cf7;
$greyBack: #262626;
$blueBack: #70bfff;
$yellowBack: #ffe92f;
$orangeColor: #ff6033;
$seaColor: #5585a2;
$saladColor: #96b92c;


$mainFont: 'Raleway', sans-serif;
$baseFontSize: 16px;

$LineHeight: 24px;
$titleFontw: 700;
$textFontw: 300;