@font-face {
  font-family: "HansKendrick-Regular";
  src: url("fonts/NeueHansKendrick-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e2e7ec;
}

.wrapper {
  width: 1120px;
  margin: 0 auto;
  margin-bottom: 210px;
  margin-top: 90px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "card-1 card-1 card-2"
    "card-3 card-4 card-5";
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}

.card-5 {
  grid-area: card-5;
}

.card-1 {
  /*width: 740px;*/
  height: 540px;
  background-image: linear-gradient(to top, black 0%, transparent 100%),
    url("img/car.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}

.card-1 .text-wrap {
  margin-left: 44px;
  position: absolute;
  bottom: 42px;
}

.item {
  /* width: 360px;*/
  height: 540px;
}

.part {
  background-color: #ffffff;
}

.card-2 .top {
  background-image: url("img/girl-warm.png");
}

.card-3 .top {
  background-image: url("img/girl-friends.png");
}

.card-4 .top {
  background-image: url("img/boots.png");
}

.card-5 .top {
  background-image: url("img/old-town.png");
}

.top {
  height: 250px;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.bottom {
  height: 290px;
  padding: 28px;
  box-sizing: border-box;
}

.date {
  text-transform: uppercase;
  font-size: 13px;
  color: #818181;
  font-family: "HansKendrick-Regular", sans-serif;
}

.card-text {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 70px;
  font-family: "HansKendrick-Regular", sans-serif;
}

.first-card-text {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
  font-family: "HansKendrick-Regular", sans-serif;
  color: #ffffff;
}
