$whiteColor: #fff;
$darkColor: #000000;
$greyColor: #999999;
$whiteBack: #fff;
$blackBack: #000000;
$brownback: #333333;
$purpleBack: #b07cf7;
$greyBack: #262626;
$blueBack: #70bfff;
$buttonBack:#5474fd;
$yellowBack: #ffe92f;
$orangeColor: #ff6033;
$seaColor: #5585a2;
$saladColor: #96b92c;
$redIcon: #ff6363;


$mainFont:'Josefin Sans', sans-serif;
$secondFont:'Aleo', serif;
$baseFontSize: 16px;

$LineHeight: 24px;
$titleFontw: 700;
$textFontw: 400;