$whiteColor: #fff;
$darkColor: #000000;
$brownColor: #1c1c1b;
$whiteBack: #fff;
$blackBack: #000000;
//$brownback: #333333;
$purpleBack: #7e5aff;
$beigeBack: #f7f8f3;
//$greyBack: #262626;
$blueBack: #55b7ff;
$lgreyColor: #f1f1f1;
$buttonBack: #5474fd;
//$yellowBack: #ffe92f;
$orangeColor: #ff6033;
$seaColor: #5585a2;
$purpleColor: #ac97fc;
$dblueColor: #2c4058;
$dgreyColor: #4b5562;
$saladColor: #96b92c;
$oliveColor: #6e774a;
$loliveColor: #aab384;
//$redIcon: #ff6363;

$mainFont: "Oswald", sans-serif;
$boldFont: "GothamBold", sans-serif;
$secondFont: "Open Sans", sans-serif;
$italicFont: italic;
$baseFontSize: 16px;

$firstLineHeight: 75px;
$secondLineHeight: 40px;

$titleFontw: 800;
$textFontw: 400;
$lightFontw: 300;
