.separator {
    &:before{
        display: block;
        content: '' ;
        width: 100px;
        height: 2px;
        border-top: 2px solid $secondColor;
        margin: 0 auto;
    }
}


.border {
    border: 2px solid $secondColor;  
    box-sizing: border-box;
}

.arrow {
    position: absolute;
    font-size: $baseFontSize + 20px;
    color: $secondColor;
    font-weight: $titleFontw;
    top: 50%;
}