
@mixin lgradient($color, $size, $radius: 0) {
    background:
    linear-gradient(to right, $color $size, transparent $size) 0 0,
    linear-gradient(to right, $color $size, transparent $size) 0 100%,
    linear-gradient(to left, $color $size, transparent $size) 100% 0,
    linear-gradient(to left, $color $size, transparent $size) 100% 100%,
    linear-gradient(to bottom, $color $size, transparent $size) 0 0,
    linear-gradient(to bottom, $color $size, transparent $size) 100% 0,
    linear-gradient(to top, $color $size, transparent $size) 0 100%,
    linear-gradient(to top, $color $size, transparent $size) 100% 100%;
  
   /* @if $radius != 0 {
      border-radius: $radius;
    } @else {
        border-radius: 10px;
    } */
  }

